AIRFLOW_UID=50000

AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

AIRFLOW__WEBSERVER__SECRET_KEY=change-me-in-real-deployments

AIRFLOW_VAR_API_BASE_URL=https://jsonplaceholder.typicode.com
AIRFLOW_VAR_GREETING=Hello from Airflow Variables!
